*{
    margin:0;
    padding: 0;
}

body{font-family: 'Poppins', sans-serif;}

/*-----------------------------
=======|Global Style|========
----------------------------*/
h1{color: #0A0826;}
.container{
    max-width: 1280px;
    width:80%;
    margin: 0 auto
}


.button a{
    color: #fff;
    padding: 8px 25px;
    display: inline-block;
    text-decoration: none;
    background: #E02C6D;
    border-radius: 2px;
}

.button a:hover{
    border: 1px solid #E02C6D;
    background: #fff;
    color: #E02C6D;
    transition: .5s
}

/*----------------------------
======| Header Section |=====
-----------------------------*/
.header-section{
    background: #2D25A0;
    padding:20px 0px;
    display: block;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.mainmenu{}
.mainmenu ul{
    list-style: none;
    display: flex;
}
.mainmenu ul li a{
    text-decoration: none;
    padding:20px 15px;
    display: block;
    color: #fff
}

.header-hero {
    display: flex;
    padding-top: 4em;
}

.hero-banner{width:50%}
.hero-content{width:50%}

.hero-content {
    width: 50%;
    display: flex;
    align-items: center;
}

.hero-content h1 {
    color: #fff;
    font-size: 70px;
    line-height: 82px;
    padding-bottom: 23px;
}

.hero-banner img{
    width: 100%
}


/*----------------------------
======| Header Section |=====
-----------------------------*/

.section-blog {
    padding: 70px 0px;
}

.blog-area{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.blog-card{
    box-shadow: 0px 0px 20px #ddd;
    padding: 18px;
}
.blog-card>.thumb> img{
    width: 100%
}

.card-content h2 {
    font-size: 30px;
    padding: 13px 0px;
}

.card-content p{color: #929292;}

.h-color h1 {
    color: #0A0826;
    font-size: 50px;
}

.h-color p {
    color: #6C6C6C;
    margin-right: 86px;
    margin-bottom: 24px;
}

.highlight-section{
    padding-bottom: 80px;
}

.footer-section{
    text-align: center;
    padding: 20px 0px;
}

.footer-logo img {
    width: 35%;
}

.socail-icon{
    text-align: center;
}

.socail-icon a {
    background: #E7E7E8;
    display: inline-block;
    border-radius: 38px;
    font-size: 20px;
    padding: 3px 8px;
    color: #969BAB;
    margin: 4px;
}

.copyright p{
    padding: 20px;
    font-size: 20px;
}

/*----------------------------
======| Mobile Responsive |=====
-----------------------------*/

@media only screen and (max-width:400px){
    .blog-area{
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }

    .header-top {
        justify-content: center;
    }

    .header-hero {
        flex-direction: column;
    }
    .hero-banner{width:100%}
    .hero-content {
        width: 100%;
        margin-bottom: 50px;
    }

    .hero-content h1 {
        font-size: 38px;
        line-height: 53px;
    }

    .footer-logo img {
        width: 100%;
    }

    .copyright {
        margin-bottom: 70px;
    }

    .copyright p {
        font-size: 20px;
        padding: 20px 0px;
    }

    .mainmenu ul li a {
        padding: 12px 5px;
        font-size: 8px;
    }

    
}

@media only screen and (min-width:688) and (max-width:992) {
    .blog-area{
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .hero-content h1 {
        font-size: 40px;
        line-height: 55px;
    }
}